:root {
  --branding-color: #16b0c8;
  --secondary-color: #2d394b;
}

h1,
h2,
p {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  color: var(--branding-color);
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin: 15px;
}

nav a {
  color: var(--branding-color);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
p {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: #e2e6e8;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  color: var(--branding-color);
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-color);
}
.second-section {
  margin-left: 100px;
}
.btn-branding {
  background: #f7aa00;
  border-radius: 7px;
  color: #020438;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 22px;
}
.btn-branding:hover {
  background: var(--secondary-color);
  color: azure;
}
.btn-branding-outline {
  border-radius: 7px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 22px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--branding-color);
}

.content {
  padding: 160px 20px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 24px;
  font-weight: bold;
}
.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}
.content1 {
  margin: 30px;
}
.content2 img {
  border-radius: 15px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
  }
  h2 {
    font-size: 42px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  nav a {
    font-size: 10px;
    text-align: center;
  }
}
